.PopUpBackGround {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  pointer-events: none; /* Disable mouse events for the background */
  /* other styles */
}

.PopUp {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(-58%, -35%);
  width: 750px;
  height: 300px;
  background-color: black;
  border: 1px solid #00FFA2;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  pointer-events: auto; /* Enable mouse events for the popup */
  /* other styles */
}

.HeadingText {
  margin-bottom: 35px;
  font-size: 25px;
  color: #00FFA2;
}

.DescText {
  font-size: 15px;
  width: 500px;
  text-align: center;
}

